<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="javascripts/index.js"></script>
    <script type="text/javascript" src="javascripts/event.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    
   

</head>

<body  style="color:blue;" >

        <p id="message"></p>
        


        <button style="color:rgb(131, 145, 11);"id="getsymbol" type="submit">Get Symbol</button> <br>
        <p id="showsymbol"></p>

        <button id="getname" type="submit">Get Name</button> <br>
        <p id="viewname"></p>

        <button id="owner" type="submit">Super Owner</button> <br>
        <p id="showowner"></p>


        <h1 style="color:blue;"> <form id="frm1" > Check Balance</h1>
            Address:: <input id= "balance" type="text"><br>
            <input  id= "chckavlbl" type="button" value="Submit">
        </form>
        <p id="showbalance">

        <h1 style="color:rebeccapurple;"><form id="frm1" > Mint Tokens</h1>
            Adress:: <input id= "addr" type="text"><br>
            Amount:: <input id= "bal" type="text"><br>
            <input  id= "mint" type="button" value="Submit">
        </form>

        <h1 style="color:aquamarine;"><form id="frm1" > Transfer Tokens</h1>
            Adress:: <input id= "addr2" type="text"><br>
            Amount:: <input id= "bal2" type="text"><br>
            <input  id= "trnsfrtok" type="button" value="Submit">
        </form>


</body>

</html>



